.first
{
    background-color: white;
    height: 600px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.225);

}
body{
    background-color: #6D9AC4;
    display:flex;
    margin-top: 80px;
    margin-left: 180px;
    margin-right: 180px;
    justify-content: center;
}
.second
{
    background-color: white;
    height: 600px;
    width: 40%;
    margin-left: 70px;
    border-radius: 15px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.225);
}
h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.711);
}
.UP
{
    margin-left: 50px;
    margin-top: 60px;
    font-weight: 500;
}
p1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #434343;
    
}
input
{
    height: 35px;
    border-radius: 7px;
    width: 300px;
    border-color: rgba(0, 0, 0, 0.147);
    margin-bottom: 40px;
}
button1
{
    color: white;
    background-color: #EE5684;
    padding: 120px;
    margin-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.368);
    
}
p2
{
    padding: 100px;
    padding-top: 10px;
    padding-left: 140px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #383838;
    
}
p3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.703);
    margin: 110px;
    
}
.pass
{
    margin-bottom: 1px;
}
.Check
{
    margin-bottom: 0px;
    height: 18px;
    width: 20px;
}
p4
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 3px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.703);
}
p5
{
    padding-left: 180px;
    color: rgba(0, 0, 0, 0.588);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button2
{
    color: white;
    background-color: #EE5684;
    padding: 128px;
    margin-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;    
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.368);
    
}
p6
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.703);
    margin: 50px;
    
}
img{
    width: 40px;
    height: 40px;
    margin-left: 14px;    
}
p7
{
    margin-left: 60px;
}